@import "tailwindcss";

/* reference: https://daisyui.com/docs/config/ */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
}